<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos sin dar examen</title>
</head>
<body>
    <div>
        <h1>Alumnos con examen:</h1>
        {% for examen in examenes %}
        <ul>
            <li>Alumno: {{ examen.fecha_creacion }} {{ examen.titulo }} {{examen.asignatura}}</li>
        </ul>
        {% endfor %}
    </div>
</body>
</html>